docs/AdminDashboard.pdf
docs/AdminDashboard.svg
docs/EduVote - Next Gen Voting Platform 🚀.pdf
docs/ElctionResukts.svg
docs/historyVoter.pdf
docs/historyVoter.svg
docs/HomeVoter.pdf
docs/Live ElectionsVote.svg
docs/Live ElectionsVoter.pdf
docs/login.pdf
docs/Login.svg
docs/norm.svg
docs/Profile.svg
docs/ProfileVoter.pdf
docs/ResultsVoter.pdf
docs/signup.pdf
docs/Signup.svg
docs/SuperAdmin.svg
docs/VoterDash.svg
backend/node_modules/whatwg-url/webidl2js-wrapper.js
backend/node_modules/whatwg-url/lib/encoding.js
backend/node_modules/whatwg-url/lib/Function.js
backend/node_modules/whatwg-url/lib/infra.js
backend/node_modules/whatwg-url/lib/percent-encoding.js
backend/node_modules/whatwg-url/lib/URL-impl.js
backend/node_modules/whatwg-url/lib/url-state-machine.js
backend/node_modules/whatwg-url/lib/URL.js
backend/node_modules/whatwg-url/lib/urlencoded.js
backend/node_modules/whatwg-url/lib/URLSearchParams-impl.js
backend/node_modules/whatwg-url/lib/URLSearchParams.js
backend/node_modules/whatwg-url/lib/utils.js
backend/node_modules/whatwg-url/lib/VoidFunction.js
